.exam-grid {
  display: grid;
  gap: 25px;
  width: 20%;
}

.exam-card {
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: 0.4s;
}
